div {
  background-color: black;
  color: white;
  text-align: center;
}

h1 {
  font-size: 60px;
}

button {
  font-size: 15px;
  border-radius: 12px;
}

.btn-1 {
  transition-duration: 0.0s ;
  width: 50px;
  height: 50px;
}

.btn-1:hover {
  background-color: black;
  color: white;
}

.btn-1:active {
  transform: translateY(6px);
}

.btn-2 {
  transition-duration: 0.0s ;
  width: 50px;
  height: 50px;
}

.btn-2:hover {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}

.btn-2:active {
  transform: translateY(6px);
}

.btn-3 {
  transition-duration: 0.0s ;
  width: 50px;
  height: 50px;
}

.btn-3:hover {
  background-color: rgb(255, 240, 30);
  color: rgb(0, 0, 0);
}

.btn-3:active {
  transform: translateY(6px);
}