<div class="cotainer">
<h1>Practica 7</h1>
<hr>

    <div class="container-boton">
      <button class="btn-1">Boton 1</button>

      <button class="btn-2">Boton 2</button>
    
      <button class="btn-3">Boton 3</button>
      
    </div>

    <!-- <small class="mensaje1">
      se presiono boton 1
    </small>

    <small class="mensaje2">
      se presiono boton 2
    </small>

    <small class="mensaje3">
      se presiono boton 3
    </small> -->

</div>